IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
 
    # Redirigir todo el tráfico a la carpeta public, excepto si ya está en public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]
 
    # Descomentar si quieres ver la lista de archivos en carpetas (opcional)
    # Options +Indexes
</IfModule>
