DB_HOST = localhost
DB_USER = root
DB_PASS = root
DB_NAME = bienesraices_crud
DB_PORT = 

EMAIL_HOST = {coloca aquí tú HOST proporcionado por mailtrap.io, sin las llaves "{ }" }
EMAIL_PORT = {coloca aquí tú PORT proporcionado por mailtrap.io, sin las llaves "{ }" }
EMAIL_USER = {coloca aquí tú USER proporcionado por mailtrap.io, sin las llaves "{ }" }
EMAIL_PASS = {coloca aquí tú PASSWORD proporcionado por mailtrap.io, sin las llaves "{ }" }